html, body {
	font: 13px Arial, Helvetica, sans-serif;
}

.app {
	position: relative;
	width: 100%;
}

.col_1, .col_2, .col_3 {
	height: 100%;
	position: absolute;
}

.col_1, .col_3 {
	width: 50%;
}

.col_3 {
	left: 50%;
}

.col_2 {
	left: 50%;
	margin: 0 0 0 -1px;
	width: 2px;
	background: #53B3E0;
}

.header, .box {
	top: 100px;
}

.box_hint {
	position: absolute;
	font: bold 20px Verdana;
	top: 152px;
	left: 25%;
	text-align: center;
	text-transform: uppercase;
	-webkit-transform: rotate(-45deg);
	-webkit-text-fill-color: #3EE036;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #fff;
}

.col_3 .box_hint {
	font-size: 16px;
	margin-right: 60px;
	z-index: 1;
	top: 41px;
	right: 18%;
	left: auto;
	-webkit-transform: rotate(-18deg);
	-webkit-text-stroke-color: #a67121;
}

.header {
	position: absolute;
	font: 45px Times;
	margin: 55px 0 0 -15px;
	-webkit-transform: rotate(-90deg);
	-webkit-text-fill-color: #53B3E0;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #438caf;
}

.box {
	width: 50%;
	left: 25%;
	position: absolute;
}

.box_frame {
	border: 3px solid #000;
	border-radius: 8px;
	overflow: auto;
	margin: -3px 0 0 -3px;
}

.item_wrapper {
	padding: 2px 0;
	position: relative;
	left: -10%;
	width: 120%;
	box-sizing: border-box;
}

.item {
	border-radius: 4px;
	height: 100%;
	position: relative;
	box-shadow: inset 0 0 1px 0 rgba(50, 50, 50, 0.75);
}

.item_id, .item_offset {
	position: absolute;
	box-sizing: border-box;
	text-align: right;
	background: #fff;
	top: 3px;
	right: 15%;
	border-radius: 8px;
	padding: 2px 5px;
}

.item_id {
	text-align: left;
	right: 25%;
	text-transform: uppercase;
}

.shadow {
	position: absolute;
	width: 100%;
	height: 70px;
}

.shadow_top {
	top: 0;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 20px,rgba(255,255,255,0.5) 60%,rgba(255,255,255,0) 100%);
}

.shadow_bottom {
	bottom: 0;
	background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 20px,rgba(255,255,255,0.5) 60%,rgba(255,255,255,0) 100%);
}

.canvas {
	position: absolute;
}

.commands {
	position: absolute;
	z-index: 2;
	opacity: 0.8;
	background: #000;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 50%;
	border-radius: 10px;
	display: none;
	padding: 20px 20px 20px 35px;
	color: #fff;
	margin-left: 10px;
}

.commands_link {
	position: absolute;
	top: 60px;
	right: 20%;
	color: #53B3E0;
	font-size: 15px;
	border-bottom: 1px dashed #53B3E0;
	cursor: pointer;
}

.command {
	margin-bottom: 20px;
}

.command_index {
	display: inline-block;
	width: 20px;
	margin-left: -20px;
	text-align: right;
	margin-right: 5px;
}

.command_link {
	color: #e09d3b;
	border-bottom: 1px dashed #e09d3b;
	cursor: pointer;
	margin-left: 20px;
}

.tests .run_tests {
	position: absolute;
	top: 10px;
	left: 10px;
}

.tests .qunit {
	position: fixed;
	bottom: 0;
	box-shadow: 0 0 50px 35px rgba(255,255,255,1);
	background-color: #fff;
	max-height: 500px;
}

.tests .qunit #qunit-tests {
	max-height: 300px;
	overflow: auto;
}

.tests .qunit .test-name {
	white-space: pre;
	tab-size: 4;
}

.tests .qunit .close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 50px;
	color: #2B81AF;
	margin: -49px -36px 0 0;
	cursor: pointer;
	display: none;
}
